<ion-header class="mobile-header">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-searchbar class="searchbar" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<div class="main-header">
<ion-row class="header ion-align-items-center">
  <ion-col size="2">
    <h4 >BluResort</h4>
  </ion-col>
  <ion-col size="6">
    <ion-button fill="clear"  routerLink="/" routerDirection="root" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}">
      Home
    </ion-button>
    <ion-button fill="clear"  routerLink="/about" routerDirection="root" routerLinkActive="active-item" >
     Booking
    </ion-button>
    <ion-button fill="clear"  routerLink="/contact" routerDirection="root" routerLinkActive="active-item">
      Contact
    </ion-button>
    
  </ion-col>
  <ion-col size="4">
    <ion-searchbar class="searchbar" placeholder="Search"></ion-searchbar>
  </ion-col>
</ion-row>
</div>