<ion-menu contentId="main" menuId="myMain" side="start">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-menu-toggle  *ngFor="let item of menuItems">
      <ion-item button (click)="setTitle(item.title)" [routerLink]="item.url" routerDirection="root" 
       routerLinkActive="active-item" [routerLinkActiveOptions]="{exact:true}"  >
       <ion-icon [name]="item.icon" slot="start"></ion-icon>
       {{ item.title }}
        <!-- <ion-label></ion-label> -->
      </ion-item>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<app-header [title]= "title "></app-header>
<ion-router-outlet id="main">

</ion-router-outlet>
